<!DOCTYPE HTML>
<!DOCTYPE html>
<html>
<title>
	Aplicación web para interactuar con el S.C.
</title>

<head>
	<meta charset="utf-8">
</head>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>  <!-- importar el contenido de JS sin repetirlo una y otra vez. -->
<body>
	<div class="container">
		<h1> Interactuar con tu Smart contract</h1>

		<h2> Introduzca un ciente que quiera añadir	</h2>
		<form action="usuario"  method="get">
		<input type= "string" name="add">
		<input type= "submit" value="Añadir">
		
		<h2> Buscar cliene </h2>
		<form action="usuario"  method="get">
		<input type= "string" name="find">
		<input type= "submit" value="Buscar">
		
		<h2> Buscar info de un ID </h2>
		<form action="usuario"  method="get">
		<input type= "string" name="info">
		<input type= "submit" value="Encontrar">
		
 
</body>
</html>